.who {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3e3e3e;
}

.who__part {
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.who__title {
    color: white;
    font-weight: bold;
    margin-top: 100px;
}

.who__subtitle {
    color: white;
    margin-top: 35px;
    text-align: center;
}

.numbers {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    background-color: #21bfb9;
}

.numbers__part {
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.numbers__text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.numbers__how-much {
    color: white;
    font-weight: bold;
}

.numbers__of {
    color: white;
    margin-top: 10px;
}

.about {
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

.about__part {
    width: 1366px;
    display: grid;
    grid-template-columns: 683px 683px;
}

.about__image {
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__hover {
    display: none;
}

.about__image:hover {
    background-color: #21bfb9;
    .about__hover {
        display: inline;
    }
}

.about__text {
    display: flex;
    flex-direction: column;
    margin-left: 85px;
    margin-top: 140px;
}

.about__title {
    font-weight: bold;
    margin-bottom: 40px;
}

.about__text1 {
    margin-bottom: 35px;
    color: #5f5f5f;
}

.about__text2 {
    margin-bottom: 35px;
    color: #5f5f5f;
}

.about__signature {
    width: 220px;
    height: 60px;
}

.need {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.need__part {
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.need__title {
    font-weight: bold;
    margin-bottom: 40px;
}

.need__subtitle {
    color: #5f5f5f;
    text-align: center;
    margin-bottom: 40px;
}

.need__button {
    color: white;
    background-color: #21bfb9;
    width: 180px;
    font-weight: bold;
    height: 55px;
    border: 2px solid #21bfb9;
}

.need__button:hover {
    color: #21bfb9;
    background-color: white;
    border: 2px solid #21bfb9;
}

.need__button:active {
    background-color: rgb(236, 236, 236);
    border: 2px solid #21bfb9;
}

@media screen and (max-width:640px) {
    .who__part {
        width: 100%;
    }
    .who__title {
        text-align: center;
    }
    .who__subtitle {
        margin-left: 10px;
        margin-right: 10px;
    }
    .need__part {
        width: 100%;
    }
    .need__title {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    .need__subtitle {
        margin-right: 10px;
        margin-left: 10px;
    }
    .about__part {
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 50%);
    }
    .about {
        height: 900px;
    }
    .about__text {
        margin-top: 20px;
        margin-left: 10px;
    }
    .numbers__part {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .numbers {
        height: 300px;
    }
    .numbers__block {
        margin-right: 0;
        margin-left: 20px;
    }
    .numbers__text {
        margin-left: 10px;
    }
}

@media screen and (min-width:640px) and (max-width:1024px) {
    .who__part {
        width: 100%;
    }
    .need__part {
        width: 100%;
    }
    .need__subtitle {
        margin-right: 20px;
        margin-left: 20px;
    }
    .about {
        height: 900px;
    }
    .about__text {
        margin-top: 70px;
        margin-left: 50px;
    }
    .about__part {
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 50%);
    }
    .numbers__part {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .numbers {
        height: 300px;
    }
    .numbers__block {
        margin-right: 0;
        margin-left: 20px;
    }
    .numbers__text {
        margin-left: 20px;
    }
}