.contact {
    width: 100%;
    height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.contact__part {
    width: 1366px;
    display: grid;
    grid-template-columns: 500px 670px;
    margin-left: 200px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.contact__title {
    font-weight: bold;
    margin-bottom: 45px;
}

.contact__subtitle {
    color: #5f5f5f;
    margin-bottom: 40px;
}

.contact__element {
    color: #5f5f5f;
    margin-bottom: 25px;
}

.contact__element_title {
    font-weight: bold;
    color: black;
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.contact__name-mail {
    display: flex;
    margin-bottom: 30px;
}

.contact__name {
    width: 320px;
    height: 50px;
    background-color: white;
    border: 2px solid rgba(255, 0, 0, 0);
    margin-right: 30px;
}

.contact__mail {
    width: 320px;
    height: 50px;
    background-color: white;
    border: 2px solid rgba(255, 0, 0, 0);
}

.contact__ur-title {
    width: 670px;
    height: 50px;
    margin-bottom: 30px;
    border: 2px solid rgba(255, 0, 0, 0);
}

.contact__message {
    width: 670px;
    height: 170px;
    margin-bottom: 30px;
    border: 2px solid rgba(255, 0, 0, 0);
}

input:active,
input:focus {
    border: 2px solid #21bfb9;
}

.contact__button {
    color: white;
    background-color: #21bfb9;
    width: 180px;
    font-weight: bold;
    height: 55px;
    border: 2px solid #21bfb9;
}

.contact__button:hover {
    color: #21bfb9;
    background-color: white;
    border: 2px solid #21bfb9;
}

.contact__button:active {
    background-color: rgb(236, 236, 236);
    border: 2px solid #21bfb9;
}

.map {
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

@media screen and (max-width:640px) {
    .map {
        height: 600px;
    }
    .contact {
        height: 950px;
    }
    .contact__part {
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 50%);
        margin-left: 0;
    }
    .contact__form {
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .contact__name-mail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }
    .contact__name {
        width: 90%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .contact__mail {
        width: 90%;
        margin-bottom: 20px;
    }
    .contact__message {
        width: 90%;
        margin-bottom: 20px;
    }
    .contact__ur-title {
        width: 90%;
        margin-bottom: 20px;
    }
    .contact__info {
        align-items: center;
    }
}

@media screen and (min-width:640px) and (max-width:1024px) {
    .map {
        height: 600px;
    }
    .contact {
        height: 1000px;
    }
    .contact__part {
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 50%);
        margin-left: 0;
    }
    .contact__form {
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .contact__name-mail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }
    .contact__name {
        width: 90%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .contact__mail {
        width: 90%;
        margin-bottom: 20px;
    }
    .contact__message {
        width: 90%;
        margin-bottom: 20px;
    }
    .contact__ur-title {
        width: 90%;
        margin-bottom: 20px;
    }
    .contact__info {
        align-items: center;
        margin-top: 200px;
    }
}