.home-title {
    width: 100%;
    height: 314px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.home-title__part {
    width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home-title__title {
    font-weight: bold;
    color: #171717;
    text-align: center;
    margin-top: 100px;
}

.home-title__subtitle {
    color: #5f5f5f;
    text-align: center;
    margin-top: 35px;
}

//////////////////////
.works {
    display: flex;
    background-color: #f6f6f6;
    justify-content: center;
    width: 100%;
    height: 900px;
}

.works__part {
    width: 1366px;
    display: grid;
    grid-template-columns: 342px 342px 342px 342px;
    grid-template-rows: 300px 300px 300px;
}

.works__element {
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__element_dark {
    background-color: #838383;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__element_hover {
    display: none;
}

.works__element:hover,
.works__element_dark:hover {
    background-color: #21bfb9;
    .works__element_hover {
        display: inline;
        position: absolute;
    }
}

@media screen and (max-width:640px) {
    .home-title__part {
        width: 100%;
    }
    .home-title {
        height: 414px;
    }
    .works {
        height: 900px;
    }
    .works__part {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(6, 150px);
    }
    .mobL {
        background-color: #dddddd;
    }
    .mobD {
        background-color: #838383;
    }
    .home-title__title {
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-title__subtitle {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width:640px) and (max-width:1024px) {
    .works {
        height: 600px;
    }
    .works__part {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(3, 200px);
    }
    .home-title__part {
        width: 100%;
    }
}