.project {
    width: 100%;
    height: 670px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.project__part {
    width: 1366px;
    display: grid;
    grid-template-columns: 683px 683px;
}

.project__img {
    background-color: #e1e1e1;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__hover {
    display: none;
}

.project__img:hover {
    background-color: #21bfb9;
    .project__hover {
        display: inline;
    }
}

.project__text {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.project__title {
    font-weight: bold;
    margin-bottom: 40px;
}

.project__text1 {
    margin-bottom: 35px;
    color: #5f5f5f;
}

.project__text2 {
    margin-bottom: 35px;
    color: #5f5f5f;
}

.priject__element {
    color: #5f5f5f;
    margin-bottom: 25px;
}

.project__element_title {
    font-weight: bold;
    color: black;
}

.proj-nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.proj-nav__part {
    width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.proj-nav__turn {
    color: #5f5f5f;
    font-weight: bold;
}

.proj-nav__icon {
    display: grid;
    grid-template-columns: 6px 6px;
    grid-template-rows: 6px 6px;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin-right: 36px;
}

.PROJECT1,
.PROJECT3 {
    display: none;
}

@media screen and (max-width:640px) {
    .project {
        height: 1100px;
    }
    .project__part {
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 50%);
    }
    .project__text {
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .project__img {
        margin-top: 30px;
    }
    .SECOND-FONT-MOB {
        font-size: 13px;
    }
    .SECOND-DISPLAY-MOB {
        display: none;
    }
    .proj-nav__icon {
        margin-right: 28px;
    }
}

@media screen and (min-width:640px) and (max-width:1024px) {
    .project {
        height: 1000px;
    }
    .project__part {
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 50%);
    }
    .project__text {
        margin-top: 170px;
        margin-left: 50px;
    }
    .project__img {
        margin-top: 30px;
    }
    .SECOND-MOB {
        font-size: 13px;
    }
    .proj-nav__icon {
        margin-right: 28px;
    }
    .proj-nav__part {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
}