* {
    margin: 0;
    font-family: Courier, monospace;
}

@for $i from 11 to 56 {
    .fontX#{$i} {
        font-size: $i + px;
    }
}

a,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

input,
input:active,
input:focus {
    outline: none;
}

button,
button:active,
button:focus {
    outline: none;
    border: none;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    z-index: 999999999999;
}

.header__part {
    width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-left: 100px;
}

.header__nav {
    margin-right: 100px;
}

.header__nav_element {
    margin-left: 30px;
    color: #373737;
    font-weight: bold;
}

.header__nav_element:hover,
.header__nav_element:active {
    color: #21bfb9;
}

.AT-HOME,
.ABOUT,
.CONTACT {
    color: #21bfb9;
}

.footer {
    width: 100%;
    height: 285px;
    background-color: #141414;
    display: flex;
    justify-content: center;
}

.footer__part {
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__rights {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.footer__c {
    color: white;
}

.footer__contacts {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 240px;
}

.footer__column1 {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 145px;
}

.footer__column2 {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 60px;
}

.footer__socials {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 135px;
}

.footer__inc {
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.footer__element {
    color: white;
    margin-bottom: 10px;
}

.footer__href:hover {
    color: #21bfb9;
}

@media screen and (max-width:640px) {
    .footer__part {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 150px);
    }
    .footer {
        height: 450px;
    }
    .footer__contacts {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .footer__rights {
        text-align: center;
    }
    .footer__column1 {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .footer__column2 {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .footer__socials {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .header__part {
        width: 100%;
    }
    .header {
        height: 50px;
    }
    .header__logo {
        margin-left: 10px;
    }
    .header__nav {
        margin-right: 10px;
    }
    .header__nav_element {
        margin-left: 10px;
    }
}

@media screen and (min-width:640px) and (max-width:1024px) {
    .footer__part {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 150px);
    }
    .footer {
        height: 450px;
    }
    .footer__contacts {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .footer__rights {
        text-align: center;
    }
    .footer__column1 {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .footer__column2 {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .footer__socials {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
}